<style>
    .ContainerHeader {
        background-color: #fff;
        margin: 20px;
    }
</style>

<header class="ContainerHeader">
    <div class="left Logo">GOLDEPUS || Ev Yönetim Sistemi</div>
</header>
