<div class="overlay overlay-boxify">
    <nav>
        <ul>
            <li><a href="javascript:openSignIn();"><i class="fa fa-sign-in"></i>Giriş Yap</a></li>
            <li><a href="javascript:openSignUp();"><i class="fa fa-users"></i>Üye Ol</a></li>
        </ul>
        <ul>
            <li><a href="#about"><i class="fa fa-info"></i>Hakkımızda</a></li>
            <li><a href="#features"><i class="fa fa-compress"></i>İletişim</a></li>
        </ul>
    </nav>
</div>
