@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/Visitor.cshtml";
}

    <div class="header">
        <div>Üye<span> Olun</span></div>
    </div>
    <br>

    <div class="login">
        <input type="text" placeholder="Kullanıcı Adı" name="username"><br>
        <input type="text" placeholder="E-Mail" name="email"><br>
        <input type="password" placeholder="Parola" name="password"><br>
        <!--
            capcha ekleneck
        -->
        <input type="button" value="Üye Ol">
    </div>